## Dataframes and series with Pandas

In [21]:
import pandas as pd

In [22]:
# First way to create an object
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index=[1,7,10,30])

In [23]:
dictonary = { 1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi' }

In [24]:
dictonary

{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

In [25]:
# second way to create an object
pd.Series(dictonary)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [26]:
psg_players[1]

'Navas'

In [27]:
psg_players[7]

'Mbappe'

In [32]:
dictonary_2 = { 
    'player': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
    'height': [183.0, 170.0, 170.0, 165.0 ],
    'goals': [100, 200, 200, 200]
}

In [34]:
df_players = pd.DataFrame(dictonary_2, index=[1,7,10,30])

In [35]:
df_players

    player  height  goals
1    Navas   183.0    100
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [36]:
df_players.columns

Index(['player', 'height', 'goals'], dtype='object')

In [37]:
df_players.index

Index([1, 7, 10, 30], dtype='int64')